body {
    font-family: sans-serif;
    background: #000;
    text-align: center;
    padding: 30px;
}

div{
    background: rgb(55, 122, 199);
    width: 290px;
    margin: auto;
    box-sizing: border-box;
}
div{
    border-width: 6px ;
    border-color: rgb(155, 111, 197);
    border-style: solid;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #4caf50;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.pantalla {
    display: none;
}

.pantalla.activa {
    display: block;
}

#numero-texto {
    font-size: 3rem;
    margin: 20px 0;
}

.oculto {
    display: none;
}
